{% load radiator_helpers %}
<div class="buildbox">
  <div class="boxtop {{build.status}}"
    {% if build.status == "BUILDING" %}
      title="Hudson Build {{build.number}} is currently running... "
    {% else %}
        title="Hudson Build {{build.number}} completed with status of: {{build.status}}"
    {% endif %}>
    <div class="buildNumber"><a href="{{build.url}}">Build #{{ build.number}}</a>
      {% if build.status == 'BUILDING' %} {% include "radiator/progress_bar.html" %} {% endif %}
</div>
    <div class="buildTime" title="{{build.dateTimeStamp}}">{{ build.dateTimeStamp|timesince }} ago</div>
    <div class="clear-both"></div>
    <div class="scm">{% spaceless %}
      {% for commit in build.items %}
        <span class="revision">rev {{commit.revision}}</span>,
        <span class="user"> by {{commit.user|firstWord}}</span>:
        <span class="msg">{{commit.msg}}</span><br>
      {% endfor %}{% endspaceless %}
    </div>
  </div>
  <div class="boxbottom {{build.status}} secondary">
    {% if build.status == "SUCCESS" %}
      {% if build.smoke_status == build.regression_status == "SUCCESS" %}
        <div class="smoke SUCCESS">&#9733;&#9733; All Tests Passed! &#9733;&#9733;</div>
      {% else %}
        <table class="tests"><tr>
          {% if build.smoke_status in "SUCCESS,UNKNOWN,ABORTED" and build.isSmokeStatusSame %}
            <td colspan=2 class="box smoke {{build.smoke_status}}"
              title={%spaceless%}"Tests:
{% for test in build.smokeTests.values %} {{test.name}}
{% endfor %}"{%endspaceless%}>
              {% if build.smoke_status == "SUCCESS" %}&#9733;&#9733;{% endif %} {{build.smokeTests|length}} Smoke Test Suite{{build.smokeTests|plural}} {{build.smoke_status|transformTestStatus}} {% if build.smoke_status == "SUCCESS" %}&#9733;&#9733;{% endif %}</td></tr><tr>
          {% else %}
            <td class="boxleft smoke {{build.smoke_status}}">
              <div class="smoke title" title="Smoke Tests">S</div></td>
            <td class="boxright smoke {{build.smoke_status}} secondary">
              {% for test in build.smokeTests.values|sortedByStatus %}
                <div class="boxright {{test.status}} tertiary">
                  <a href="{{ test.url }}"> {{ test.name }}</a>:{{ test.status|transformTestStatus }}<br/>
                </div>
              {% endfor %}
            </td>
            <td/>
          {% endif %}
          {% if build.regression_status in "SUCCESS,UNKNOWN,ABORTED" and build.isRegressionStatusSame %}
            {% if build.smoke_status != "SUCCESS" %}
              </tr><tr>
            {% endif %}
            <td colspan=2 class="box functional {{build.regression_status}}"
              title={%spaceless%}"Tests:
{% for test in build.regressionTests.values %} {{test.name}}
{% endfor %}"{%endspaceless%}>
            {% if build.regression_status == "SUCCESS" %}&#9733;&#9733;{% endif %} {{build.regressionTests|length}} Functional Test Suite{{build.regressionTests|plural}} {{build.regression_status|transformTestStatus}} {% if build.regression_status == "SUCCESS" %}&#9733;&#9733;{% endif %}</td></tr><tr>
          {% else %}
          {% if  build.regressionTests %}
            <td class="boxleft functional {{build.regression_status}}">
              <div class="functional title" title="Regression Tests">R</div></td>
            <td class="boxright functional {{build.regression_status}} secondary">
              {% for test in build.regressionTests.values|sortedByStatus %}
                  <div class="boxright {{test.status}} tertiary">
                    <a href="{{ test.url }}">{{ test.name }}</a>:{{ test.status|transformTestStatus }}<br/>
                  </div>
              {% endfor %}
            </td>
          {% endif %}
          {% endif %}
        </tr></table>
      {% endif %}
    {% else %}
      {% if build.status == "UNSTABLE" %}
        <div class="broken {{build.status}} secondary">JUNIT TESTS BREAKING!</div>
      {% endif %}
      {% if build.status in "FAILURE.ABORTED" %}
        <div class="broken {{build.status}} secondary">BUILD {{build.status}}!</div>
      {% endif %}
    {% endif %}
  </div>
</div>
<div class="gap"/>
