{% load radiator_helpers %}

<html>
  <head>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script> 
    <link rel="stylesheet" type="text/css" href="/radiator/site_media/styles/main.css"/>
    <link rel="stylesheet" type="text/css" href="/radiator/site_media/styles/roundrects.css"/>
    <link rel="stylesheet" type="text/css" href="/radiator/site_media/styles/progress_bar.css"/>
    <title>Hudson Build Radiator</title>

  <script type="text/javascript">
  function table_reader(build_type, table_id) {
    $.get('/radiator/data/'+build_type+'/?builds={{buildCount}}', function(data) {
        $('#build_'+table_id).html(data);
    });
  };

  {% for row in build_types %}
     {% for build_type in row %}
        $(document).ready(function() {table_reader("{{build_type}}", "{{build_type|slugify}}")});
        window.setInterval(function() {table_reader("{{build_type}}","{{build_type|slugify}}")}, 30000);
     {% endfor %}
  {% endfor %}
  </script>
  </head>
  <body>
      <table id="builds">
      {% for row in build_types %}
      <tr>
         {% for build_type in row %}
         <td width="{{ columnSize }}%" >
            <h3>{{ build_type|title }} Build Matrix Status</h3>
            <div id="build_{{build_type|slugify}}">
            </div>
         </td>
         {% endfor %}
      </tr>
      {% endfor %}
      </table>
  </body>
</html>
