{% load radiator_helpers %}

<html>
  <head>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script> 
    <link rel="stylesheet" type="text/css" href="/radiator/site_media/styles/main.css"/>
    <link rel="stylesheet" type="text/css" href="/radiator/site_media/styles/roundrects.css"/>
    <link rel="stylesheet" type="text/css" href="/radiator/site_media/styles/progress_bar.css"/>
    <title>Jenkins Build Radiator</title>

  <script type="text/javascript">
  function table_reader(build_type, table_id) {
    $.get('/radiator/data/'+build_type+'/?builds={{buildCount}}', function(data) {
        $('#build_'+table_id).html(data);
    });
  };

  {% for row in build_types %}
     {% for build_type in row %}
        $(document).ready(function() {table_reader("{{build_type}}", "{{build_type|slugify}}")});
        window.setInterval(function() {table_reader("{{build_type}}","{{build_type|slugify}}")}, 60000);
     {% endfor %}
  {% endfor %}
  
  </script>
  </head>
  <body>
      <table id="builds">
      {% for row in build_types %}
      <tr>
         {% for build_type in row %}
         <td width="{{ columnSize }}%" >
            <p style='font-size:16px;margin:0 0 -32 0;padding:0;'>{{ build_topic }}</p>
            <a href="/radiator/stats/{{build_type}}?returnURL={{request.get_full_path}}" title="View Stats Page for {{build_type}}" class="viewStatsLink"><h3>{{ build_type|title }} Build Matrix Status</h3></a>
            <div id="build_{{build_type|slugify}}">
            </div>
         </td>
         {% endfor %}
      </tr>
      {% endfor %}
      </table>
  </body>
</html>

<script type="text/javascript">
    var Radiator = Radiator || {};
    Radiator.util = {
        getJsonp: function (url, callback) {
            var internalCallback = "wait" + new Date().getTime();
            Radiator.util.internalCallbacks = Radiator.util.internalCallbacks || {};
            Radiator.util.internalCallbacks[internalCallback] = function (data) {
                callback(data);
            };

            var urlp = url + "?jsonp=Radiator.util.internalCallbacks." + internalCallback;

            var scriptTag = $("<script/>");
            scriptTag.attr("type", "text/javascript");
            scriptTag.attr("src", urlp);

            $("body").append(scriptTag);
        }
    };
    Radiator.SuiteInfo = {
        getLatestRunCodes: function (suiteRerunBox, callback) {
            var form = suiteRerunBox.find("form");
            var url = form.find("input[name='suiteInfoUrl']").val();
            Radiator.util.getJsonp(url, function (data) {
                var codes = [];
                var maximumNumberOfCodes = data.builds.length;
                if (maximumNumberOfCodes > 10) {
                    maximumNumberOfCodes = 10;
                }
                for (var i = 0; i < maximumNumberOfCodes; i++) {
                    codes.push(data.builds[i].number);
                }
                callback(codes);
            });
        },
        isRunningForBuild: function (suiteRerunBox, runNumber, callback) {
            var buildNumber = suiteRerunBox.parents(".buildbox").find(".buildNumber").text().substring(1).trim();
            var url = suiteRerunBox.find("input[name='suiteInfoUrl']").val();
            var urlApiPath = "api/json";
            url = url.substring(0, url.length - urlApiPath.length) + runNumber + "/" + url.substring(url.length - urlApiPath.length);

            Radiator.util.getJsonp(url, function (data) {
                var suiteBuildNumber = data.actions[0].parameters[0].number;
                if (!suiteBuildNumber) {
                    suiteBuildNumber = data.actions[1].causes[0].upstreamBuild;
                }
                if (suiteBuildNumber == buildNumber) {
                    if (data.building == "true" || data.building == true) {
                        callback(true);
                        return;
                    }
                }
                callback(false);
            });
        }
    };

    $(function () {
        $(".rerunForm input[type='submit']").live('click', function () {
            function canSubmitForm(form, callback) {
                var box = form.parents(".rerunBox");

                Radiator.SuiteInfo.getLatestRunCodes(box, function (suiteRunCodes) {
                    var numberOfRunsToCheck = suiteRunCodes.length;
                    var numberOfRunsChecked = 0;

                    function isRunningCallback(isSuiteRunning) {
                        numberOfRunsChecked++;
                        if (isSuiteRunning) {
                            callback(false);
                        } else if (numberOfRunsChecked < numberOfRunsToCheck) {
                            Radiator.SuiteInfo.isRunningForBuild(box, suiteRunCodes[numberOfRunsChecked], isRunningCallback);
                        } else {
                            callback(true);
                        }
                    }

                    Radiator.SuiteInfo.isRunningForBuild(box, suiteRunCodes[numberOfRunsChecked], isRunningCallback);
                });
            }

            var form = $(this).parents("form");
            canSubmitForm(form, function (canSubmit) {
                if (canSubmit) {
                    form.submit();
                } else {
                    alert("This suite has already been re-run by someone else.");
                    form.find("input[type='submit']").css("display", "none");
                }
            });

            return false;
        });
    });
</script>
