{% load radiator_helpers %}
    <div class="buildbox" id="{{build.name|slugify}}">
        <table class="box builds {{build.overall_status}}">
            <tr>
                <td class="buildNumber">
                    <a href="{{build.url}}">#{{ build.number}}</a>
                </td>
                <td class="scm">
                {% for author, revisions in build.authors.items %}
                <table>
                    <tr title="{{build.msgs|truncatewords:50|wordbreak:"20"}}">
                        <td class="avatar">
                            <img src="{{build.avitar}}" height="42" width="42"/>
                        </td>
                        <td>
                            <span class="user">{{ author|firstWord }}</span></br>
                            {% for rev in revisions %}
                                <span class="revision">{{rev|shorten:8}}</span><br/>
                            {% endfor %}
                        </td>
                    </tr>
                </table>
                {% endfor %}
                </td>
                {% include "radiator/test_cell.html" %}
                {% include "radiator/details.html" %}
            </tr>
        </table>
    </div>

