{% load radiator_helpers %}
<div id="dialog" title="Dialog Title" style="display:none"> Some text</div>
<div class="buildbox {{build.name|slugify}}">
  <div class="boxtop {{build.overall_status}}"
    {% if build.status == "BUILDING" %}
      title="Hudson Build {{build.number}} is currently running... "
    {% else %}
        title="Hudson Build {{build.number}} completed with status of: {{build.status}}"
    {% endif %}>
    <div class="buildNumber"><a href="{{build.url}}">#{{ build.number}}</a>&nbsp;
      {% if build.status == 'BUILDING' %} {% include "radiator/progress_bar.html" %}&nbsp;{% endif %}
</div>
    <div class="buildTime" title="{{build.dateTimeStamp}}">{{ build.dateTimeStamp|timesince }} ago</div>
    <div class="clear-both"></div>
    <div class="scm">{% spaceless %}
      {% for commit in build.items %}
        <a href="{{build.url}}/changes">
        <span class="revision">rev {{commit.revision}}</span></a>,
        <span class="user"> by {{commit.user|firstWord}}</span>:
        <span class="msg">{{commit.msg}}</span><br>
      {% endfor %}{% endspaceless %}
    </div>
  </div>
  <div class="boxbottom {{build.overall_status}} secondary">
    <!-- <a class="infoCircle shadow" id="info_{{build.name|slugify}}" title="Click for info..."
      href="/radiator/info/{{build_type}}/{{build.number}}"
      onclick="window.open(this.href, 'popupwindow', 'width=500,height=300'); return false;">i</a> -->
    {% if build.status == "SUCCESS" %}
      {% for test in build.smokeTests.values|sortedByName %}
        <div class="shadow box {{test.status}} tertiary" title="{{test.name}}: {{test.status|transformTestStatus}}">{% spaceless %}
          {% include "radiator/test_spinner.html" %}
          &nbsp;<a href="{{test.url}}">S</a>&nbsp;{% endspaceless %}
        </div>
      {% endfor %}
      {% for test in build.regressionTests.values|sortedByName %}
        <div class="shadow box {{test.status}} tertiary" title="{{test.name}}: {{test.status|transformTestStatus}}">{% spaceless %}
          {% include "radiator/test_spinner.html" %}
          &nbsp;<a href="{{test.url}}">R</a>&nbsp;{% endspaceless %}
        </div>
      {% endfor %}
      {% if build.failedSmokeTests %}
        <div class="gap"/>
        <table class="tests">
          <tr>
            <td class="shadow boxleft smoke FAILURE"><div class="title">S<span class="subTitle"><br/>Smoke Test Failures</span></div></td>
            <td class="shadow boxright FAILURE">
              {% for test in build.failedSmokeTests %}
                <div class="boxright {{test.status}} tertiary">
                  <a href="{{ test.url }}">{{ test.name }}</a>: {% if test.failCount > 0 %}{{test.failCount}} of {{test.totalCount}} {% endif %}{{ test.status|transformTestStatus }}<br/>
                </div>
              {% endfor %}
            </td>
          </tr>
        </table>
      {% endif %}
      {% if build.failedRegressionTests %}
      <div class="gap"/>
      <table class="tests">
        <tr>
          <td class="boxleft functional FAILURE"><div class="title">R<span class="subTitle"><br/>Regression Test Failures</span></div></td>
          <td class="boxright FAILURE">
            {% for test in build.failedRegressionTests %}
              <div class="boxright {{test.status}} tertiary">
                <a href="{{ test.url }}">{{ test.name }}</a>: {% if test.failCount > 0 %}{{test.failCount}} of {{test.totalCount}} {% endif %}{{ test.status|transformTestStatus }}<br/>
              </div>
            {% endfor %}
          </td>
        </tr>
      </table>
      {% endif %}
    {% for test in build.perfTests.values|sortedByName %}
            {% if test.status == "SUCCESS" %}
                {% for page in test.perfPages %}
                    <div class="shadow box {{test.status}} tertiary"
                         title="{{page.pageName}}">{% spaceless %}
                        {% include "radiator/test_spinner.html" %}
                        &nbsp;<a href="{{test.url}}">{{ page.pageName }} {{ page.pageScore }}</a>&nbsp;{% endspaceless %}
                    </div>
                {% endfor %}
            {% else %}
                <div class="shadow box {{test.status}} tertiary" title="{{test.name}}: {{test.status|transformTestStatus}}">{% spaceless %}
                  {% include "radiator/test_spinner.html" %}
                  &nbsp;<a href="{{test.url}}">P</a>&nbsp;{% endspaceless %}
                </div>
            {% endif %}
        {% endfor %}
    {% else %}
      {% if build.status == "UNSTABLE" %}
        <div class="broken {{build.status}} secondary">JUNIT TESTS BREAKING!</div>
      {% endif %}
      {% if build.status in "FAILURE.ABORTED" %}
        <div class="broken {{build.status}} secondary">BUILD {{build.status}}!</div>
      {% endif %}
    {% endif %}
    <div class="gap"/>
    <div class="clear-both"></div>
  </div>
</div>
<div class="gap"/>
<script>
$(document).ready(function() {
	$('#info_{{build.name|slugify}}').each(function() {
		var $link = $(this);
		var $dialog = $('<div></div>')
			.load($link.attr('href'))
			.dialog({
				autoOpen: false,
				title: $link.attr('title'),
				width: 500,
				height: 300
			});

		$link.click(function() {
			$dialog.dialog('open');

			return false;
		});
	});
});
</script>
