{% load radiator_helpers %}
<div id="dialog" title="Dialog Title" style="display:none"> Some text</div>
<div class="buildbox {{build.name|slugify}}">
  <div class="boxtop {{build.overall_status}}"
    {% if build.status == "BUILDING" %}
      title="Jenkins Build {{build.number}} is currently running. Elapsed time: {{build.elapsedTime|format_seconds_to_mmss}}"
    {% else %}
        title="Jenkins Build {{build.number}} completed with status of: {{build.status}}, Elapsed time: {{build.elapsedTime|format_seconds_to_mmss}}"
    {% endif %}>
    <div class="buildNumber">{% include "radiator/build_spinner.html" %}<a href="{{build.url}}">#{{ build.number}}</a>&nbsp;</div>
    <div class="buildTime" title="{{build.dateTimeStamp}}">
        {{ build.dateTimeStamp}}&nbsp;|&nbsp;Elapsed: {{build.totalElapsedTime|format_seconds_to_mmss}}
        {% if build.estimatedRemaining > 0 %}
            &nbsp;|&nbsp;Estimated Remaining: {{ build.estimatedRemaining|format_seconds_to_mmss }}
        {% endif %}
    </div>
    <div class="clear-both"></div>
    {% if build.isReleaseCandidate %}
        <div class="rcVersion">Release Candidate: {{ build.releaseVersion}}</div>
    {% endif %}

    <div class="scm">{% spaceless %}
      {% for commit in build.items %}
      <a href="{{build.url}}/changes">
        {% if build.scmKind == 'svn' %}
          <span class="revision">rev {{commit.revision}}</span></a>,
          <span class="user"> by {{commit.user|firstWord}}</span>:
        {% else %}
          <span class="revision">{{commit.id|shorten:8}}</span></a>,
          <span class="user"> by {{commit.author.fullName|firstWord}}</span>:
        {% endif %}
        <span class="msg">{{commit.msg|truncatewords:50|wordbreak:"20"}}</span><br>
      {% endfor %}{% endspaceless %}
    </div>
  </div>
  <div class="boxbottom {{build.overall_status}} secondary">
    <!-- <a class="infoCircle shadow" id="info_{{build.name|slugify}}" title="Click for info..."
      href="/radiator/info/{{build_type}}/{{build.number}}"
      onclick="window.open(this.href, 'popupwindow', 'width=500,height=300'); return false;">i</a> -->
    {% if build.status == 'BUILDING' %}
        <div class="building_msg">
            Compiling & Running Unit Tests
        </div>
    {% endif %}

    {% if build.status == "SUCCESS" %}
      {% for test in build.smokeTests.values|sortedByName %}
        <div class="shadow box {{test.status}} tertiary" title="{{test.name}}: {{test.status|transformTestStatus}}, Elapsed&nbsp;time:&nbsp;{{test.elapsedTime|format_seconds_to_mmss}}, ReRun&nbsp;Count:&nbsp;{{test.reRunCount}}">{% spaceless %}
          {% include "radiator/test_spinner.html" %}
          &nbsp;<a href="{{test.jenkinsUrl}}">S</a>&nbsp;{% endspaceless %}
          {% include "radiator/test_rerun_badge.html" %}
        </div>
      {% endfor %}
      {% for test in build.baselineTests.values|sortedByName %}
        <div class="shadow box {{test.status}} tertiary" title="{{test.name}}: {{test.status|transformTestStatus}}, Elapsed&nbsp;time:&nbsp;{{test.elapsedTime|format_seconds_to_mmss}}, ReRun&nbsp;Count:&nbsp;{{test.reRunCount}}">{% spaceless %}
          {% include "radiator/test_spinner.html" %}
          &nbsp;<a href="{{test.jenkinsUrl}}">B</a>&nbsp;{% endspaceless %}
          {% include "radiator/test_rerun_badge.html" %}
        </div>
      {% endfor %}
      {% for test in build.regressionTests.values|sortedByName %}
        <div class="shadow box {{test.status}} tertiary" title="{{test.name}}: {{test.status|transformTestStatus}}, Elapsed&nbsp;time:&nbsp;{{test.elapsedTime|format_seconds_to_mmss}}, ReRun&nbsp;Count:&nbsp;{{test.reRunCount}}">{% spaceless %}
          {% include "radiator/test_spinner.html" %}
          &nbsp;<a href="{{test.jenkinsUrl}}">{{test.letter}}</a>&nbsp;{% endspaceless %}
          {% include "radiator/test_rerun_badge.html" %}
        </div>
      {% endfor %}
      {% for test in build.projectTests.values|sortedByName %}
        <div class="shadow box {{test.status}} tertiary" title="{{test.name}}: {{test.status|transformTestStatus}}, Elapsed&nbsp;time:&nbsp;{{test.elapsedTime|format_seconds_to_mmss}}, ReRun&nbsp;Count:&nbsp;{{test.reRunCount}}">{% spaceless %}
          {% include "radiator/test_spinner.html" %}
          &nbsp;<a href="{{test.jenkinsUrl}}">P</a>&nbsp;{% endspaceless %}
          {% include "radiator/test_rerun_badge.html" %}
        </div>
      {% endfor %}
      {% for test in build.codeWatchTests.values|sortedByName %}
        <div class="shadow box {{ test.codeWatchStatus}} tertiary" title="{{test.name}}: {{test.codeWatchStatus|transformTestStatus}}, Elapsed&nbsp;time:&nbsp;{{test.elapsedTime|format_seconds_to_mmss}}, ReRun&nbsp;Count:&nbsp;{{test.reRunCount}}">{% spaceless %}
          {% include "radiator/test_spinner.html" %}
          &nbsp;<a href="{{test.jenkinsUrl}}">Q</a>&nbsp;{% endspaceless %}
        </div>
      {% endfor %}
      {% if build.failedSmokeTests %}
        <div class="gap"/>
        <table class="tests">
          <tr>
            <td class="shadow boxleft smoke FAILURE"><div class="title">S<span class="subTitle"><br/>Smoke Test Failures</span></div></td>
            <td class="shadow boxright FAILURE">
              {% for test in build.failedSmokeTests %}
                {% include "radiator/failed_test_row.html" %}
              {% endfor %}
            </td>
          </tr>
        </table>
      {% endif %}
      {% if build.failedBaselineTests %}
        <div class="gap"/>
        <table class="tests">
          <tr>
            <td class="shadow boxleft baseline FAILURE"><div class="title">B<span class="subTitle"><br/>Baseline Test Failures</span></div></td>
            <td class="shadow boxright FAILURE">
              {% for test in build.failedBaselineTests %}
                 {% include "radiator/failed_test_row.html" %}
              {% endfor %}
            </td>
          </tr>
        </table>
      {% endif %}
      {% if build.failedRegressionTests %}
      <div class="gap"/>
      <table class="tests">
        <tr>
          <td class="boxleft functional FAILURE"><div class="title">R<span class="subTitle"><br/>Regression Test Failures</span></div></td>
          <td class="boxright FAILURE">
            {% for test in build.failedRegressionTests %}
                {% include "radiator/failed_test_row.html" %}
            {% endfor %}
          </td>
        </tr>
      </table>
      {% endif %}
      {% if build.failedProjectTests %}
      <div class="gap"/>
      <table class="tests">
        <tr>
          <td class="boxleft functional FAILURE"><div class="title">P<span class="subTitle"><br/>Project Test Suite Failures</span></div></td>
          <td class="boxright FAILURE">
            {% for test in build.failedProjectTests %}
                {% include "radiator/failed_test_row.html" %}
            {% endfor %}
          </td>
        </tr>
      </table>
      {% endif %}
   {% else %}
      {% if build.status == "UNSTABLE" %}
        <div class="broken {{build.status}} secondary">JUNIT TESTS BREAKING!</div>
      {% endif %}
      {% if build.status in "FAILURE.ABORTED" %}
        <div class="broken {{build.status}} secondary">BUILD {{build.status}}!</div>
      {% endif %}
    {% endif %}
    <div class="gap"/>
    <div class="clear-both"></div>
  </div>
</div>
<div class="gap"/>
<script>
$(document).ready(function() {
    $('#info_{{build.name|slugify}}').each(function() {
        var $link = $(this);
        var $dialog = $('<div></div>')
            .load($link.attr('href'))
            .dialog({
                autoOpen: false,
                title: $link.attr('title'),
                width: 500,
                height: 300
            });

        $link.click(function() {
            $dialog.dialog('open');

            return false;
        });
    });
});
</script>
