{% load radiator_helpers %}
<td class="details">
    {% if build.status == "BUILDING" %}
        Compiling & Running Unit Tests
    {% else %}
        {% if build.status == "UNSTABLE" %}
            JUnit Tests Failed!
        {% else %}
            {% if build.status == "FAILURE" %}
                Build Failed!
            {% else %}
                {% if build.overall_status == "BUILDING" %}
                    Build complete, running functional tests
                {% endif %}
           {% endif %}
        {% endif %}
    {% endif %}


    {% if build.overall_status == "SUCCESS" %}
        All tests passed! 
    {% endif %}

    {% if build.overall_status == "ABORTED" %}
        BUILD ABORTED!
    {% endif %}

    {% if build.overall_status in "FAILURE.REBUILDING.UNSTABLE" %}
        {% for test in build.failedTests %}
            <div class="fail">{% include "radiator/failed_test_row.html" %}</div>
        {% endfor %}
    {% endif %}

</td>
