table.progress-bar {
  border-collapse: collapse;
  border: 1px solid #333333;
  height: 14px;
  width: 100px;
  clear: none;
  margin-left:auto;
  margin-right:auto;
  display: inline-table;
}

td.progress-bar-done {
  background-color: #2222ff !important;
}

td.progress-bar-left {
  background-color: #888888;
}
